# - Indexing

In [1]:
# make a string

a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a

'Samosa Pakora'

In [3]:
a[0]

'S'

In [4]:
a[0:6]

'Samosa'

In [5]:
a[0:13]

'Samosa Pakora'

In [6]:
len(a)

13

In [7]:
a[-1]

'a'

In [8]:
a[-13]

'S'

In [10]:
a[-13:-1]

'Samosa Pakor'

In [11]:
a[-13:13]

'Samosa Pakora'

In [16]:
food = "biryani"
food

'biryani'

## String Methods

In [17]:
food

'biryani'

In [15]:
len(food)

7

In [18]:
food.capitalize()

'Biryani'

In [19]:
food.upper()

'BIRYANI'

In [20]:
food.lower()

'biryani'

In [21]:
food.replace("b", "Sh")

'Shiryani'

In [23]:
# counting a specific alphabet in a string

name = "Aaliyar Ahmed with Muhammad Sohail"
name

'Aaliyar Ahmed with Muhammad Sohail'

In [24]:
name.count("a")

5

In [25]:
name.count("Sohail")

1

In [26]:
len(name)

34

### - Finding an index number in string

In [27]:
name = "Aaliyar Ahmed with Muhammad Sohail"
name

'Aaliyar Ahmed with Muhammad Sohail'

In [28]:
name.find("w")

14

In [29]:
### - how to split a string

food = "I love samosa, pakora, raita, biryani and karahi"
food

'I love samosa, pakora, raita, biryani and karahi'

In [30]:
food.split(",")

['I love samosa', ' pakora', ' raita', ' biryani and karahi']

## Basic Data Structures in Python

### 1- Tuple is a collection which is ordered and changeable. Allows duplicate members.
### 2- List is a collection which is ordered and unchangeable. Allows duplicate members. 
### 3- Dictionaries is a collection which is ordered and changeable. No duplicate members.
### 4- Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

## 1- Tuple

- ordered collection of elements
- enclosed in () round braces / paranthesis
- different kind of elements can be stored
- Duplicate elements are allowed because they are indexed
- once elements are stored you can not change them (unmutable), can't add or remove elements

In [23]:
tupp = ("aaliyar",)
tupp

('aaliyar',)

In [31]:
tup1 = (1, "Python", True, 2.5)
tup1

(1, 'Python', True, 2.5)

In [32]:
# type of tuple

type(tup1)

tuple

### Indexing in tuple

In [33]:
tup1[0]

1

In [34]:
tup1[0:3]

(1, 'Python', True)

In [35]:
tup1[0:4]

(1, 'Python', True, 2.5)

In [36]:
# count of elements in tuple
len(tup1)

4

In [25]:
tup2 = (2, "Aaliyar", 3.5, False)
tup2

(2, 'Aaliyar', 3.5, False)

In [27]:
# to find a specific element use in keyword
if "Aaliyar" in tup2:
    print("Yes")

Yes

In [39]:
# concatenate
tup1 + tup2

(1, 'Python', True, 2.5, 2, 'Aaliyar', 3.5, False)

In [40]:
tup1*2 + tup2

(1, 'Python', True, 2.5, 1, 'Python', True, 2.5, 2, 'Aaliyar', 3.5, False)

In [42]:
tup3 = (20, 30, 50, 60, 79, 65)

In [43]:
# minimum
min(tup3)

20

In [44]:
# maximum
max(tup3)

79

In [47]:
tup3*3

(20, 30, 50, 60, 79, 65, 20, 30, 50, 60, 79, 65, 20, 30, 50, 60, 79, 65)

In [29]:
thistuple = ("Apple")
thistuple

'Apple'

In [31]:
# The del keyword can delete the tuple completely
del thistuple
thistuple

NameError: name 'thistuple' is not defined

In [38]:
# Convert the tuple into a list to be able to change it

x = ("Apple", "Banana", "Cherry")
y = list(x)
y
y[1] = "Kiwi"
y
x = tuple(y)
x

('Apple', 'Kiwi', 'Cherry')

In [2]:
# You can loop through the tuple items by using a for loop.

tup4 = ("Aaliyar", "Ahmed", "Sohail")
for B in tup4:
    print(B)

Aaliyar
Ahmed
Sohail

In [3]:
# tuple can be created using a tuple constructor()

tup7 = tuple(("Aaliyar", "Maria", 143))
tup7

('Aaliyar', 'Maria', 143)

### Tuple built-in methods
1. count() Returns the number of times a specified value occurs in a tuple
2. index() Searches the tuple for a specified value and returns the position of where it was found

In [42]:
tup5 = ("Aaliyar", 21, 21, True)
tup5

('Aaliyar', 21, 21, True)

In [48]:
tup5.count(21)

2

In [51]:
tup5.index(True)

3

# 2- LIST

- ordered collection of elements
- enclosed in [ ] square braces/brackets
- Mutateable, you can change the values
- Allow duplicate values

- Method	Description

- append()	Adds an element at the end of the list
- clear()	Removes all the elements from the list
- copy()	Returns a copy of the list
- count()	Returns the number of elements with the specified value
- extend()	Add the elements of a list (or any iterable), to the end of the current list
- index()	Returns the index of the first element with the specified value
- insert()	Adds an element at the specified position
- pop()	Removes the element at the specified position
- remove()	Removes the item with the specified value
- reverse()	Reverses the order of the list
- sort()	Sorts the list

In [49]:
list1 = [2, "AaliyarAhmed", False]
list1

[2, 'AaliyarAhmed', False]

In [50]:
type(list1)

list

In [51]:
len(list1)

3

In [52]:
list1[2]

False

In [53]:
list2 = [3, 5, "Sohail", "Aaliyar", 478, 53.2, False]
list2

[3, 5, 'Sohail', 'Aaliyar', 478, 53.2, False]

In [54]:
list1 + list2

[2, 'AaliyarAhmed', False, 3, 5, 'Sohail', 'Aaliyar', 478, 53.2, False]

In [55]:
list1 * 2

[2, 'AaliyarAhmed', False, 2, 'AaliyarAhmed', False]

In [58]:
list1.reverse()
list1

[2, 'AaliyarAhmed', False]

In [59]:
list2.reverse()
list2

[False, 53.2, 478, 'Aaliyar', 'Sohail', 5, 3]

In [60]:
list1.append("Aali youtube channel")
list1

[2, 'AaliyarAhmed', False, 'Aali youtube channel']

In [61]:
list3 = [20, 30, 35, 40, 50, 60, 33, 568]
list3

[20, 30, 35, 40, 50, 60, 33, 568]

In [62]:
len(list3)

8

In [65]:
list3.sort()
list3

[20, 30, 33, 35, 40, 50, 60, 568]

In [66]:
list3*2

[20, 30, 33, 35, 40, 50, 60, 568, 20, 30, 33, 35, 40, 50, 60, 568]

In [11]:
# check if an element exists

list5 = ["Hello", "Welcome"]

if "Hello" in list5:
    print("Yes, Hello exists")

Yes, Hello exists

In [13]:
# To insert a new list item, without replacing any of the existing values, we can use the insert() method.

list6 = ["car", "bike", "scooter"]
list6.insert(2, "train")
list6

['car', 'bike', 'train', 'scooter']

In [15]:
# To add an item to the end of the list, use the append() method:

list6 = ["car", "bike", "scooter"]
list6.append("helicopter")
list6

['car', 'bike', 'scooter', 'helicopter']

In [17]:
# To append elements from another list to the current list, use the extend() method.

cars = ["Honda", "Toyota", "Kia"]
bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]

cars.extend(bikes)
cars

['Honda', 'Toyota', 'Kia', 'Kawasaki', 'Yamaha', 'Harley Davidson']

In [18]:
# The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

furniture = ["chair", "sofa"]
price = (7000, 50000)
furniture.extend(price)

furniture

['chair', 'sofa', 7000, 50000]

In [19]:
# The remove() method removes the specified item.

bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]
bikes.remove("Kawasaki")

bikes

['Yamaha', 'Harley Davidson']

In [20]:
# The pop() method removes the specified index.
# If you do not specify the index, the pop() method removes the last item.

bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]
bikes.pop(2)

bikes

['Kawasaki', 'Yamaha']

In [21]:
# The del keyword also removes the specified index:

bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]
del bikes[2]

bikes

['Kawasaki', 'Yamaha']

In [22]:
# The clear() method empties the list. The list still remains, but it has no content.

bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]
bikes.clear()

bikes

[]

In [24]:
# You can loop through the list items by using a for loop:

bikes = ["Kawasaki", "Yamaha", "Harley Davidson"]

for x in bikes:
    print(x)

Kawasaki
Yamaha
Harley Davidson

In [25]:
# You can also loop through the list items by referring to their index number.
# Use the range() and len() functions to create a suitable iterable.

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
# You can loop through the list items by using a while loop.

# Use the len() function to determine the length of the list, 
# then start at 0 and loop your way through the list items by refering to their indexes.
# Remember to increase the index by 1 after each iteration.

In [26]:
thislist = ["Apple", "Banana", "Cherry"]

i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

Apple
Banana
Cherry

In [28]:
# List Comprehension offers the shortest syntax for looping through lists:
# Syntax
# newlist = [expression for item in iterable if condition == True]

thislist = ["Apple", "Banana", "Cherry"]
[print(x) for x in thislist]

Apple
Banana
Cherry

[None, None, None]

In [29]:
# another example of list comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [30]:
# list after comprehension of above

newlist = [x for x in fruits if "a" in x]
newlist

['apple', 'banana', 'mango']

In [31]:
# List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()
thislist

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [33]:
# descending sort

thislist.sort(reverse=True)
thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [34]:
# The reverse() method reverses the current sorting order of the elements.

thatlist = ["orange", "Kinnoo", "kiwi", "pineapple", "banana"]
thatlist.reverse()

thatlist

['banana', 'pineapple', 'kiwi', 'Kinnoo', 'orange']

In [5]:
# Make a copy of a list with the copy() method

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
mylist

['apple', 'banana', 'cherry']

In [4]:
# Another method of copying

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
mylist

['apple', 'banana', 'cherry']

In [7]:
# There are three ways to join lists
# 1. Concatenate

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

list3 = list1 + list2
list3

[1, 2, 3, 'a', 'b', 'c']

In [10]:
# 2. Append() method

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for x in list2:
    list1.append(x)
    
list1

[1, 2, 3, 'a', 'b', 'c']

In [13]:
# 3. extend() method

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

list1.extend(list2)
list1

[1, 2, 3, 'a', 'b', 'c']

In [15]:
# index( ) method

list9 = [1, 2, 3]
list9[1]

2

## 3- Dictionaries

- An unordered collection of elements
- Mutateable or Change/add/remove the elements
- Curly braces or brackets
- Key and Value
- string, integer, boolean and list types of elements
- Duplicates not allowed, cannot have two items with the same key
- Can't concatenate

- Method 	Description
- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary

In [4]:
# string, integer, boolean and list types of elements

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
} 

thisdict
len(thisdict)

4

In [15]:
# duplicate keys not elements

mydict = {
    "car" : "toyota",
    "electric" : True,
    "Year" : 2016,
    "Year" : 2019
}

mydict

{'car': 'toyota', 'electric': True, 'Year': 2019}

In [22]:
# clear() method

adict = {
    "mobile" : "vivo",
    "FourG" : True,
    "Price" : 40000
}

adict.clear()
adict

{}

In [4]:
# Food and their prices

food1 = {"Samosa":30, "Raita":20, "Salad":50, "Chiken Rools":30}
food1

{'Samosa': 30, 'Raita': 20, 'Salad': 50, 'Chiken Rools': 30}

In [5]:
type(food1)

dict

In [6]:
# extract data

keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Raita', 'Salad', 'Chiken Rools'])

In [7]:
values1 = food1.values()
values1

dict_values([30, 20, 50, 30])

In [8]:
# adding new element

food1["Tikki"]=30
food1

{'Samosa': 30, 'Raita': 20, 'Salad': 50, 'Chiken Rools': 30, 'Tikki': 30}

In [10]:
# update/modify the values

food1["Tikki"]=15
food1

{'Samosa': 30, 'Raita': 20, 'Salad': 50, 'Chiken Rools': 30, 'Tikki': 15}

In [11]:
food2 = {"Dates":50, "Chocolates":200, "Swayyan":1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Swayyan': 1000}

In [12]:
food1.update(food2)

In [13]:
food1

{'Samosa': 30,
 'Raita': 20,
 'Salad': 50,
 'Chiken Rools': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Swayyan': 1000}

In [24]:
# to access elements

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"] 
x

'Mustang'

In [25]:
# get() method to access elements

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.get("model")
x

'Mustang'

In [27]:
# The items() method will return each item in a dictionary, as tuples in a list.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960
}

x = car.items()
x

car["color"] = "Red"
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1960), ('color', 'Red')])

In [28]:
# To determine if a specified key is present in a dictionary use the in keyword:

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960
}

if "model" in car:
    print("WoW")

WoW

In [30]:
# The pop() method removes the item with the specified key name:

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

car
car.pop("buyer")
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1960}

In [31]:
# The popitem() method removes the last inserted item

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

car.popitem()
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1960}

In [36]:
# The del keyword removes the item with the specified key name:

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

del car["buyer"]
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1960}

In [41]:
# The del keyword can also delete the dictionary completely:

carz = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

del carz

In [43]:
# You can loop through a dictionary by using a for loop.
# When looping through a dictionary, the return value are the keys of the dictionary 
# but there are methods to return the values as well.

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

# 1. print all keys one by one

for x in car:
    print (x)

brand
model
year
buyer

In [45]:


car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}


# You can use the keys() method to return the keys of a dictionary:
for x in car.keys():
    print(x)
    
# You can also use the values() method to return values of a dictionary:    
for y in car.values():
    print(y)

brand
model
year
buyer
Ford
Mustang
1960
MS

In [46]:
# Loop through both keys and values, by using the items() method:

car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1960,
    "buyer" : "MS"
}

for x in car.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1960)
('buyer', 'MS')

In [47]:
# You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, 
# and changes made in dict1 will automatically also be made in dict2.

# 1. built-in Dictionary method copy().

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

mydict = thisdict.copy()
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [49]:
# 2. built-in Dictionary method dict().

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

newdict = dict(thisdict)
newdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [53]:
# A dictionary can contain dictionaries, this is called nested dictionaries.

myfamily = {
    "father" = {
        "name" : "Nizam",
        "age" : 65
        },
    "mother" = {
        "name" : "Ammi Jaan",
        "age" : 55
        },
    "wife" = {
        "name" : "Maria",
        "age" : 28
        }
    }

myfamily

SyntaxError: invalid syntax (<ipython-input-53-186e19eb0c42>, line 4)

In [54]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [55]:
# The setdefault() method returns the value of the item with the specified key.

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

---

## 4- Set

- Unordered and unindexed
- Immutable / can't be changed, but you can remove items and add new items.
- Curly braces are used { }
- No duplicates
- Only numbers and strings are allowed, no booleans

- Method 	Description
-
- add()	Adds an element to the set
- clear()	Removes all the elements from the set
- copy()	Returns a copy of the set
- difference()	Returns a set containing the difference between two or more sets
- difference_update()	Removes the items in this set that are also included in another, specified set
- discard()	Remove the specified item
- intersection()	Returns a set, that is the intersection of two other sets
- intersection_update()	Removes the items in this set that are not present in other, specified set(s)
- isdisjoint()	Returns whether two sets have a intersection or not
- issubset()	Returns whether another set contains this set or not
- issuperset()	Returns whether this set contains another set or not
- pop()	Removes an element from the set
- remove()	Removes the specified element
- symmetric_difference()	Returns a set with the symmetric differences of two sets
- symmetric_difference_update()	inserts the symmetric differences from this set and another
- union()	Return a set containing the union of sets
- update()	Update the set with the union of this set and others

In [20]:
# boolean not allowed
set1 = {1, 2.2, 5.2, "Aaliyar", "Codanics", "Daharki", True}
set1

{1, 2.2, 5.2, 'Aaliyar', 'Codanics', 'Daharki'}

In [19]:
# duplicates not allowed
set1.add("Aaliyar")
set1

{1, 2.2, 5.2, 'Aaliyar', 'Codanics', 'Daharki'}

In [21]:
# remove()
set1.remove(True)
set1

{2.2, 5.2, 'Aaliyar', 'Codanics', 'Daharki'}

In [57]:
# constructor(), It is also possible to use the set() constructor to make a set.

myset = set(("Hello", 123, 3.33))
myset

{123, 3.33, 'Hello'}

In [58]:
# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, 
# or ask if a specified value is present in a set, by using the in keyword.

myset = {"Apple", "Banana", "Cherry"}

for x in myset:
    print(x)

Banana
Cherry
Apple

In [59]:
# Use update() method, to add items from another set into the current set.

myset = {"Apple", "Banana"}
yourset = {"Cabbage", "Carrot"}

myset.update(yourset)
myset

{'Apple', 'Banana', 'Cabbage', 'Carrot'}

In [61]:
# The object in the update() method does not have to be a set, it can be any iterable object 
# (tuples, lists, dictionaries etc.).

myset = {"Apple", "Banana"}
yourlist = ["Cabbage", "Carrot", "Bhindi"]

myset.update(yourlist)
myset

{'Apple', 'Banana', 'Bhindi', 'Cabbage', 'Carrot'}

In [65]:
# Remove "banana" by using the remove() method:
# If the item to remove does not exist, remove() will raise an error.
# If the item to remove does not exist, discard() will NOT raise an error.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
thisset.discard("orange")
thisset

{'apple', 'cherry'}

In [71]:
# You can also use the pop() method to remove an item, but this method will remove the last item. 
# Remember that sets are unordered, so you will not know what item that gets removed.

myset1 = {"apple", "banana", "cherry"}

x = myset.pop()
x

'cherry'

In [72]:
# You can loop through the set items by using a for loop:

myset2 = {"apple", "banana", "cherry"}

for x in myset2:
    print(x)

apple
banana
cherry

In [75]:
# The union() method returns a new set with all items from both sets:

set1 = {"Aaliyar", "Ahmed"}
set2 = {21, 3, 2021}

set3 = set1.union(set2)
set3

{2021, 21, 3, 'Aaliyar', 'Ahmed'}

In [76]:
# The update() method inserts the items in set2 into set1:

set1 = {"Aaliyar", "Ahmed"}
set2 = {21, 3, 2021}

set1.update(set2)
set1

{2021, 21, 3, 'Aaliyar', 'Ahmed'}

- Note: Both union() and update() will exclude any duplicate items.

In [77]:
# 1. The intersection_update() method will keep only the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
x

{'apple'}

In [78]:
# 2. The intersection() method will return a new set, that only contains the items that are present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
z

{'apple'}

In [79]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
x

{'banana', 'cherry', 'google', 'microsoft'}

In [80]:
# symmetric_difference() method will return a new set, that contains only elements that are NOT present in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
z

{'banana', 'cherry', 'google', 'microsoft'}

In [81]:
# The difference() method returns a set that contains the difference between two sets.
# Meaning: The returned set contains items that exist only in the first set, and not in both sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
z

{'banana', 'cherry'}

In [82]:
# The difference_update() method removes the items that exist in both sets.
# The difference_update() method is different from the difference() method, 
# because the difference() method returns a new set, without the unwanted items, 
# and the difference_update() method removes the unwanted items from the original set.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)
x

{'banana', 'cherry'}

In [85]:
# The issuperset() method returns True if all items in the specified set exists in the original set, 
# otherwise it retuns False.

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)
z

True

In [86]:
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = y.issubset(x)
z

True

In [89]:
# The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.

x = {"f", "e", "d", "c", "b", "a"}
y = {"l", "m", "n"}

z = x.isdisjoint(y)
z

True

-----