# Python ka Chilla with Baba Aammar
## How to use Jupyter Notebook
### Basics of Python

**CHAPTER 01 - FIRST PROGRAM**

In [1]:
# CHAPTER 01 - FIRST PROGRAM

print(2+3)
print("Hello World")
print("Python with Sohail")

5
Hello World
Python with Sohail

**CHAPTER 02 - OPERATORS**

In [2]:
# CHAPTER 02 - OPERATORS

print(2+1)
print(3-1)
print(2*3)
print(6/2)
print(6//2)
print(6%2)
print(2**3)

# PEMDAS
# Paranthesis Exponent Multiplication Division Addition Subtraction
# Left to Right sequence foe MDAS

print((3**2)/2*3/3+6-4)

3
2
6
3.0
3
0
8
6.5

**CHAPTER 03 - STRINGS**

In [3]:
# CHAPTER 03 - STRINGS 

print("Hello World")
print("Python with Sohail")
print('Test for single quotes')
print(" Test for double quotes")
print('''  Test for triple quotes''')

Hello World
Python with Sohail
Test for single quotes
 Test for double quotes
  Test for triple quotes

**CHAPTER 04 - COMMENTS (CTRL+/)**

In [4]:
# CHAPTER 04 - COMMENTS (CTRL+/)

print("How are you")
print("We are learning python with Aammar")
print(2+6)

How are you
We are learning python with Aammar
8

**CHAPTER 05 - VARIABLES**

In [5]:
# CHAPTER 05 - VARIABLES

x = 5
print(x)

y = "We are learning Python"
print(y)

# types or class of variables

type(x)
print(type(x))
print(type(y))

# Rules to assign a varible name

# 1- The variable should contain letters, numbers or underscores
# 2- Do not start with numbers
# 3- Spaces are not allowed
# 4. Do no yse keywords used in functions
# 5. Short and descriptive
# 6. Case senstivity

fruit_basket = 8
print(fruit_basket)
print(type(fruit_basket))

fruit_basket = "Mangoes"
print(fruit_basket)
print(type(fruit_basket))

5
We are learning Python
<class 'int'>
<class 'str'>
8
<class 'int'>
Mangoes
<class 'str'>

**CHAPTER 06 - INPUT VARIABLES**

In [6]:
# CHAPTER 06 - INPUT VARIABLES

import msilib


fruit_basket = "Mangoes"
print(fruit_basket)

# Input function simple

fruit_basket = input("Which is your favorite fruit?")
print(fruit_basket)

# Input function of second stage

name = input("What is your name? ")
greetings = "Hello"
print(greetings, name)

# Another way of second stage input function

name = input("What is your name? ")
print("Hello", name)

# Third stage input function

name = input("What is your name? ")
age = input("How old are you? " )
greetings = "Hello"
print(greetings, name, ", You are still young!")

Mangoes
Which is your favorite fruit?Apple
Apple
What is your name? Aaliyar
Hello Aaliyar
What is your name? Aaliyar
Hello Aaliyar
What is your name? Aaliyar
How old are you? 2
Hello Aaliyar , You are still young!

**CHAPTER 07 - CONDITIONAL_LOGIC**

In [7]:
# CHAPTER 07 - CONDITIONAL_LOGIC

# Logical operators are TRUE or FALSE
# == != > >= < <=

Aaliyar_age = 2
age_at_school = 5
print(Aaliyar_age == age_at_school)

# Input operators and logicals

age_at_school = 5
Aaliyar_age = input("How old is Aaliyar? ")
Aaliyar_age = int(Aaliyar_age)
print(Aaliyar_age == age_at_school)

False
How old is Aaliyar? 5
True

**CHAPTER 08 - TYPE CONVERSION**

In [8]:
# CHAPTER 08 - TYPE CONVERSION

x = 10          # integer
y = 10.5        # float
z = "Hello"     # string

print(x, y, z)

# implicit type conversion
x = x*y
print(x, type(x))
print(y, type(y))

# explicit type coversion

age = input("What is your age? ")
age = int(age)
print(type(age))

# name

name = input("What is your name? ")
print(type(name))

10 10.5 Hello
105.0 <class 'float'>
10.5 <class 'float'>
What is your age? 1
<class 'int'>
What is your name? AA
<class 'str'>

**CHAPTER 09 - if, else and elif**

In [9]:
# CHAPTER 09 - if, else and elif

hammad_age = 5
required_age_at_school = 5
# can hammad go to school?

if hammad_age == required_age_at_school:
    print("Congratulations! Hammad can goto school")
elif hammad_age > required_age_at_school:
    print("Hammad should join higher secondary school")
elif hammad_age <=2:
    print("Hammad is a baby!")
else:
    print("Hammad can not goto school")

Congratulations! Hammad can goto school

**CHAPTER 10 - FUNCTIONS**

In [10]:
# CHAPTER 10 - FUNCTIONS

print("I love Aaliyar!")
print("I love Aaliyar!")
print("I love Aaliyar!")

# 1 Defining a function

def aali():
    print("I love Aaliyar!")
    print("I love Aaliyar!")
    print("I love Aaliyar!")

aali()

# 2

def aali():
    text = "We love Aaliyar Ahmed"
    print(text)
    print(text)
    print(text)

aali()

# 3

def aali(text):
    print(text)
    print(text)
    print(text)

aali("We love Aaliyar Ahmed")

# 4 defining a function with if, elif and else statements

def school_calculator(age):
    if age==5:
        print("Aaliyar can join the school.")
    elif age>5:
        print("Aaliyar should join college")
    else:
        print("Aaliyar is still a baby.")

school_calculator(5)

# future function

def future_age(age):
    new_age = age+20
    return new_age
    print(new_age)

predicted_age = future_age(18)
print(predicted_age)

I love Aaliyar!
I love Aaliyar!
I love Aaliyar!
I love Aaliyar!
I love Aaliyar!
I love Aaliyar!
We love Aaliyar Ahmed
We love Aaliyar Ahmed
We love Aaliyar Ahmed
We love Aaliyar Ahmed
We love Aaliyar Ahmed
We love Aaliyar Ahmed
Aaliyar can join the school.
38

**CHAPTER 11 - LOOPS - while and for loops**

In [11]:
# CHAPTER 11 - LOOPS
# while and for loops

# while loop

x = 0
while x<5:
    print(x)
    x = x+1

# for loop

for x in range(5,10):
    print(x)

# Arrays

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

for d in days:
    if d=="Fri":
        break
    if d=="Fri":
        continue
    print(d)

0
1
2
3
4
5
6
7
8
9
Mon
Tue
Wed
Thu

**CHAPTER 12 - IMPORT LIBRARIES**

In [12]:
# Chapter 12 - Import Libraries
# if you want to print the value of pi

import math
print("The value of pi is", math.pi)

import statistics
x = [150,250,350,450]
print(statistics.mean(x))

# important libraries = numpy and pandas

The value of pi is 3.141592653589793
300

**CHAPTER 13 - IMPORT LIBRARIES**

In [13]:
print(We are learning Python)   # syntax error

print(25/0)                     # runtime error

name = "Aaliyar"
print("Hello name")             # semantic error
print("Hello", name)

SyntaxError: invalid syntax (<ipython-input-13-7142f9249414>, line 1)